# Ignore environment settings
.mise.toml
.venv/
.vscode/
__pycache__/
pyrightconfig.json
.claude/
CLAUDE.md

# Ignore produced images and plots
results/
.png

# Ignore data files
data/

# Ignore hpc job scripts
hpc/

# Ignore projectplanning
projectplanning.md
todo.md
